@model IEnumerable<GameHub.Application.Tournament.TournamentDto>

@{
    ViewData["Title"] = "Aktualne turnieje";
}

<h1>Turnieje</h1>

<p>
    <a asp-controller="Tournament" asp-action="Create" class="btn btn-secondary">Dodaj nowy</a>
</p>
<div class="row">
@foreach (var item in Model) 
{
        <div class="card m-3" style="width: 18rem;">           
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Game</h6>
                <p class="card-text">@item.Description</p>
                <a class="btn btn-primary" asp-controller="Tournament" asp-action="Details" asp-route-encodedName="@item.EncodedName">Szczegóły</a>
                @if (item.IsEditable)
                {
                    <a class="btn btn-secondary" asp-controller="Tournament" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edit</a>
                }
                
                
            </div>
        </div>
}
</div>
  